@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

:root {
  --clr-primary: #155847;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {
  background: var(--clr-primary);
}

.wrapper {
  margin: 50px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 16rem);
}

.wrapper .card {
  list-style: none;
  height: 450px;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
}

.new-card, 
.icon, 
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-card {
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.new-card .icon {
  height: 4.875rem;
  width: 4.875rem;
  color: var(--clr-primary);
  font-size: 2.5rem;
  border-radius: 50%;
  border: 2px dashed var(--clr-primary);  
  justify-content: center;
}

.new-card p {
  color: var(--clr-primary);
  font-weight: 500;
  margin-top: 1.25rem;
}

.wrapper .content-card {
  display: flex;
  flex-direction: column;
}

.content-card {
  display: flex;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card .title {
  font-size: 1.5rem;
  font-weight: 500;
}

.card p {
  display: block;
  margin-top: 5px;
  color: #575757;
  font-size: 1rem;
}

.card-body {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-body img {
  max-width: 125px;
  align-self: center;
}

.card-body .desc {
  align-self: center;
}

.card-section {
  margin-top: 0.25rem;
}

.card-footer {
  margin-top: auto;
}

.btn {
  border: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
}

.btn.btn-delete {
  width: 2rem;
  height: 2rem;
  background-color: red;
}

.btn.btn-edit {
  display: inline-block;
  width: 100%;
  height: 2rem;
  background-color: var(--clr-primary);
}


/* .content-card {
  border: 1px solid black;
}

.card-header {
  border: 1px solid red;
}

.card-body {
  border: 1px solid green;
}

.card-footer {
  border: 1px solid blue;
}  */
